
body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
}

header {
    padding: 10px 30px;
}

header h1 {
    color: #ffff23;
    font-size: 40px;
    font-weight: 800;
}

footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .copyright {
    font-size: 14px;
    color: #333;
    text-align: center;
}
footer .copyright a {
    color: #444;
}
footer .copyright a:hover {
    color: #555;
}
footer .copyright:before {
    content: '©';
}

.footer-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.footer-link {
    text-decoration: none;
    filter: invert(1);
}

.footer-date-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-date {
    font-size: 14px;
    color: #50504f;
}

.gh-link {
    display: block;
    background-repeat: no-repeat;
    filter: invert(1);
    background-image: url(./assets/GitHub.png);
    background-position: center;
    width: 32px;
    height: 32px;
    opacity: 0.5;
    transition: all ease 0.8s;
}



.rss-link {
    display: block;
    background-repeat: no-repeat;
    filter: invert(1);
    background-image: url(./assets/rsschool.svg);
    background-position: center;
    width: 64px;
    height: 64px;
    opacity: 0.5;
    transition: all ease 0.8s;
}

.rss-link:hover, .gh-link:hover {
    opacity: 1;
}